.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  flex-basis: 100%;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__desc {
  color: var(--secondary-txt-cl);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  gap: 30px;
  margin-bottom: 30px;
  
}

