.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;

  background-color: var(--light-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 440px) {
    width: 100%;
    padding: 40px 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  @media (orientation: landscape) and (max-height: 617px) {
    height: 100%;
    overflow: auto;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  fill: currentColor;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-bgr-cl);
  }
}
