.socials-wrap {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  background-color: var(--light-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.socials-wrap__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.socials-wrap__sub {
  margin-bottom: 16px;
  color: var(--secondary-txt-cl);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.socials-wrap__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.socials-wrap__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--icons-fill);
  background-color: var(--light-txt-cl);
  border-radius: 50%;

  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    color: var(--light-txt-cl);
    background-color: var(--accent-bgr-cl);
  }
}

.socials-wrap__icon {
  fill: currentColor;
}
