.specification {
  flex-grow: 1;

  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.specification__title {
  margin-bottom: 4px;

  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.specification__desc {
  color: var(--secondary-txt-cl);
  font-size: 16px;
  line-height: calc(30 / 16);
}
